.header { 
    background-color:#1b7553; 
    border-bottom: 1px solid #fff; 
    width: 100%; 
} 

.header-container { 
    max-width: 1024px; 
    height: 60px; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 5px 20px; 
    margin: 0 auto; 
} 

.header-logo-box { 
    display: flex; 
    align-items: center; 
    text-decoration: none; 
} 
 
.header-logo { 
    width: 26px; 
    height: 26px; 
    margin-right: 10px; 
} 

.header-name-company { 
    color: #fff; 
    font-size: 26px; 
    text-decoration: none; 
    text-transform: uppercase; 
} 

.header-link { 
    color: #fff; 
    text-decoration: none; 
    padding: 0px 15px 10px 15px; 
    text-transform: uppercase; 
    line-height: 18px; 
    text-decoration: none; 
    font-weight: 600; 
} 

.header-link:hover { 
    border-bottom: 3px solid #fff; 
} 

 

@media (max-width: 600px) { 
    .header-nome-empresa { 
        display: none; 
    } 
} 