<!DOCTYPE html>
<html lang="pt-br">

	<head>
		<title>Contato</title>
		<meta charset="utf-8">	
	</head>

	<body background="../static/img/fundo2.png">
		<table border="0" width="900" align="center">
			<tr>
				<td height="90"><img src="../static/img/logo.png"></td>
				<td align="right">
					<a href="../index.html">Home</a> | 
					<a href="./quemsomos.html">Quem somos</a> | 
					<a href="./contato.html">Contato</a> 
				</td>
			</tr>	

			<tr>
				<td colspan="2">
					<h2>Entre em contato</h2>

					<p>
						In consectetur vel dui et semper. Mauris dictum mollis nunc eu suscipit.
					</p>
					<hr>

				<form>
			
					Seu Nome:<br>
					<input type="text" name="Nome"><br><br>

					Seu E-mail:<br>
					<input type="E-mail" name="E-mail"><br><br>

					Assunto:<br>
					<input type="text" name="Assunto"><br><br>

					Descrição:<br>
					<textarea></textarea><br><br>

					<input type="submit" value="Enviar"><br><br>

				</form>

				</td>
			</tr>

			<tr>
				<td colspan="2" align="center">
					<strong> &copy; 2024 Todos os direitos reservados.<br>
					</strong>

				</td>
			</tr>
		</table>


	</body>
</html>