<!DOCTYPE html>
<html lang="pt-br">

	<head>
		<title>Quem Somos</title>
		<meta charset="utf-8">	
	</head>

	<body background="../static/img/fundo2.png">
		<table border="0" width="900" align="center">
			<tr>
				<td height="90"><img src="../static/img/logo.png"></td>
				<td align="right">
					<a href="../index.html">Home</a> | 
					<a href="./quemsomos.html">Quem somos</a> | 
					<a href="./contato.html">Contato</a> 
				</td>
			</tr>	

			<tr>
				<td colspan="2">
					<h2>Quem somos</h2>
					<p>
						In consectetur vel dui et semper. Mauris dictum mollis nunc eu suscipit. Donec vitae laoreet sem. Donec eleifend dapibus ligula quis rutrum. Mauris a porttitor tellus, vel sodales dolor. Praesent vel dignissim nisl, eget consectetur leo. Sed pharetra vehicula ipsum, at lobortis odio sagittis ultrices. Suspendisse purus dolor, auctor ac fringilla hendrerit, faucibus quis tellus. Maecenas vitae tristique enim. Sed pretium tortor a sapien finibus eleifend. Ut scelerisque venenatis eros, et bibendum urna consectetur vel. Donec lectus leo, finibus id sem eu, pharetra rutrum velit. Donec nec tellus a dolor suscipit vestibulum. Vestibulum commodo blandit diam. Cras nunc neque, porttitor nec interdum ut, eleifend sit amet magna.
					</p>

                    <hr>

                    <h2>5 Motivos para estudar</h2>

                    <ol>
                        <li>Material atualizado</li>
                        <li>Tablets em sala de aula</li>
                        <li>Professores capacitados</li>
                        <li>Bem avaliada</li>
                        <li>Ótima localização</li>
                    </ol>

                    <hr>
                    
					<h2>Objetivo</h2>
					<p>
					Quisque id dolor rutrum, maximus odio sodales, semper elit. Duis augue massa, laoreet ac luctus quis, rutrum non ante. Etiam urna lacus, scelerisque in nisl in, tincidunt rutrum sem. Nulla facilisi. Nam vitae sodales elit, nec dignissim metus. Donec hendrerit vulputate rhoncus. Praesent iaculis id enim ut porta. Donec auctor est sed malesuada volutpat. Morbi neque nibh, porttitor non elit in, faucibus tristique velit. Mauris et ex aliquet, tincidunt libero et, malesuada tellus. Mauris dignissim mattis neque, non luctus magna consequat a. Quisque ac lacus scelerisque, sagittis augue a, semper tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce lectus tellus, dictum nec sapien eu, tincidunt vestibulum ligula. Proin risus quam, fringilla sit amet libero nec, luctus rutrum ex. Pellentesque egestas purus sit amet libero auctor vulputate.
					</p>
				</td>
			</tr>

			<tr>
				<td colspan="2" align="center">
					<strong> &copy; 2024 Todos os direitos reservados.<br>
					</strong>

				</td>
			</tr>

		</table>

	</body>
</html>