@import url(../../../App.css);

.footer { 
    width: 100%; 
} 

.footer-container { 
    background-color: var(--color-primary);
    color: var(--color-light); 
    height: 40px; 
    margin-top: 40px; 
}