.footer { 
    width: 100%; 
} 

.footer-container { 
    background-color:#09180a; 
    color: #fff; 
    height: 40px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin-top: 40px; 
}